.footer {
   padding: 2rem 1rem;
  background-color: #1e1f20;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.footer__text {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}
